body{

margin:0;
font-family:Arial,sans-serif;

}

.app{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#dbeafe,
#f0f9ff
);

padding:30px;

}

.dark{

background:
linear-gradient(
135deg,
#111827,
#1f2937
);

color:white;

}

.container{

width:700px;

padding:30px;

border-radius:25px;

background:white;

box-shadow:
0 10px 30px
rgba(
0,
0,
0,
0.2
);

}

.dark .container{

background:#374151;

}

.header{

display:flex;

justify-content:
space-between;

align-items:center;

}

.toggle{

padding:10px;

border:none;

cursor:pointer;

border-radius:10px;

}

input{

width:100%;

padding:15px;

margin-top:15px;

border-radius:10px;

border:1px solid #ddd;

box-sizing:border-box;

}

.calculate{

width:100%;

padding:15px;

margin-top:20px;

border:none;

background:#2563eb;

color:white;

border-radius:10px;

cursor:pointer;

font-size:16px;

}

.cards{

display:flex;

gap:15px;

margin-top:40px;

}

.card{

flex:1;

padding:15px;

border-radius:15px;

background:#eff6ff;

text-align:center;

}

.dark .card{

background:#4b5563;

}

.chart{

width:350px;

margin:auto;

margin-top:45px;

}

table{

width:100%;

margin-top:40px;

border-collapse:collapse;

}

th,td{

border:1px solid #ccc;

padding:12px;

text-align:center;

}

.footer{

margin-top:40px;

text-align:center;

}
h2{
    margin-top:40px;
}

.footer a{

padding:15px 22px;

background:rgb(248, 92, 1);

color:white;

text-decoration:none;

border-radius:18px;



}
.footer a:hover{
background:rgb(0, 110, 255);
}